/* Comandos - Seção Principal */
.commands-section {
    background-color: #444;
    color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    text-align: center;
}

.commands-section h2 {
    margin-bottom: 10px;
}

#new-command {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#new-command:hover {
    background-color: #218838;
}


/* Barra Lateral */
.sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    padding: 20px;
    height: 100vh;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}